.basket {
  margin-top: 50px;
  position: sticky;
  top: 50px;
  display: flex;
  z-index: 1;
  background: var(--color-white);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  padding:var(--px-10);
  box-sizing: border-box;
  gap: var(--px-10);
}


@media screen and (max-width: 640px) {
  .basket {
    display: none;
  }
}
