.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border-radius: 8px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: bold;
  transition: .2s;
  height: 32px;
}

.btn__default {
  background: transparent;
}

.btn__default:hover {
  opacity: .7;
}

.btn__blue {
  background: var(--color-blue);
}

.btn__blue:hover {
  background: var(--color-blue-hover);
}

.btn__blue:active {
  background: var(--color-blue-active);
}

.btn__blue:disabled {
  background: var(--color-silver);
}

.btn__32 {
  width: 32px;
}

