.carts {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--px-10);
}

@media screen and (max-width: 780px) {
  .carts {
    justify-content: center;
  }
}
