@import "_reset.css";
@import "_variables.css";
html, body {
    height: 100%;
    min-height: 100%;
}

body,html {
  font-family: sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#root {
    display: block;
    height: 100%;
}
